@media screen and (max-width: 767px){
#channel{
  width: 480px; 
}
#a{
  height: 75px; 
}
#b{
  height: 150px; 
}
.med{
  height: 125px;
}

p{
  width:240px; 
  height: 250px; 
}
.left{
  float: left;
}
.right{
  float: right;
}
#i{
  height: 80px;
}
}

@media screen and (min-width: 768px){
  #channel{
    width: 960px; 
  }

  #a{
    height: 100px; 
  }
  #b{
    height: 600px; 
    width: 200px; 
    float: left;
  }
  .med{
    height: 200px; 
    width: 380px;

  }

  p{ 
    height: 250px; 
    width: 190px;
    float: left; 
  }

  #i{
    height: 150px; 
    width: 760px;
    float: right;
  }


}