@media screen and (max-width: 767px){
#a{
  grid-row-start: rowone; 
  grid-row-end: rowtwo; 
  align-self: center;
  background-color: red; 
  padding-top: 37.5px; 
  box-sizing: border-box;
  
}
#b{
  grid-row-start: rowtwo; 
  grid-row-end: rowfour;
  background-color: orange; 
  padding-top: 75px; 
  box-sizing: border-box; 
}
#c{
  grid-row-start: rowfour; 
  grid-row-end: rowsix;
  background-color: yellow; 
}
#d{
  grid-row-start:rowsix; 
  grid-row-end: roweight;
  background-color:greenyellow; 
}
.med{
  padding-top: 9vw; 
  box-sizing: border-box; 
}
.left{
  grid-column-start: columnone;
  grid-column-end: columnthree;
}
.right{
  grid-column-start: columnthree; 
  grid-column-end: endcolumn;
}
#e, #f{
  grid-row-start: roweight; 
  grid-row-end: rowtwelve;
}
#g, #h{
  grid-row-start: rowtwelve; 
  grid-row-end: rowsixteen; 
}
#e{
  background-color: green;
}
#f{
  background-color: blue; 

}
#g{
  background-color: blueviolet
}
#h{
  background-color: purple; 

}
p {
  padding-top: 17vw; 
  box-sizing: border-box; 
}
#i{
  height: 80px;
  background-color: indigo; 
  padding-top: 40px; 
  box-sizing: border-box;
  grid-row-start: rowsixteen; 
  grid-row-end: rowend
}
}

@media screen and (min-width: 768px){

  #a{
    grid-row-start: rowone; 
    grid-row-end: rowtwo; 
    background-color: lightblue; 
    padding-top: 37.5px; 
    box-sizing: border-box;
  }
  #b{
    grid-column-start: column start; 
    grid-column-end: column2;
    grid-row-start: row2;
    grid-row-end: row end;
    background-color: lightcoral;
    padding-top: 30%; 
    box-sizing: border-box;
  }
  #c{ 
    background-color: lightgoldenrodyellow;
    grid-row-end: row 2;
    grid-row-end: row 3;
    grid-column-start: column2; 
    grid-column-end: column5; 
 
  }
  #d{
    background-color: lightgreen; 
 
    grid-row-start: row2;
    grid-row-end: row3;
    grid-column-start: column5; 
    grid-column-end: end column; 
  }


  #e{
    background-color: lightpink;

  }
  #f{ 
    background-color: lightcyan; 
  }
  #g{
    background-color: lightgray; 
  }
  #h{
    background-color: lightyellow; 
  }

  p{
    padding-top: 93.75px; 
    box-sizing: border-box;
  }
  #i{ 
    background-color: lightsalmon;
    padding-top: 56.25px; 
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1025px){
  #a{
    grid-column-start: row 1; 
    grid-column-end: row 2; 
    background-color: darkmagenta; 
    padding-top: 50px; 
    box-sizing: border-box;
  }
  #b{
    background-color: darkslateblue; 
    padding-top: 300px; 
    box-sizing: border-box;
  }

  
  #c{
    background-color: darkslategray; 
    float: left; 
  }
  #d{
    background-color: darkseagreen; 
    float: right; 
  }
  .med{
    padding-top: 100px; 
    box-sizing: border-box;
  }

  #e{
    background-color: darkgoldenrod; 
  }

  #f{
    background-color: darkcyan; 
  }

  #g{
    background-color: darkolivegreen;
  }
 
  #h{
    background-color: darkviolet; 
  }
  p{
    padding-top: 125px;
    box-sizing: border-box;
  }
  #i{
    background-color: darkgreen; 
    padding-top: 75px; 
    box-sizing: border-box; 
  }

}