@media screen and (max-width: 767px){
#a{
  background-color: red; 
  
}
#b{
  background-color: orange; 
}
#c{
  background-color: yellow; 
}
#d{
  background-color:greenyellow; 
}
#e{
  background-color: green;
}
#f{
  background-color: blue; 

}
#g{
  background-color: blueviolet
}
#h{
  background-color: purple; 

}
#i{
  background-color: indigo; 

}
}

@media screen and (min-width: 768px){
  #a{
    background-color: darkmagenta; 
  
  }
  #b{
    background-color: darkslateblue; 
  }

  #c{
    background-color: darkslategray; 
    float: left; 
  }
  #d{
    background-color: darkseagreen; 
    float: right; 
  }
  #e{
    background-color: darkgoldenrod; 
  }

  #f{
    background-color: darkcyan; 
  }

  #g{
    background-color: darkolivegreen;
  }

  #h{
    background-color: darkviolet; 
  }

  #i{
    background-color: darkgreen; 
  }

}